/* header */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(3, 107, 66);
}

body {
  background-image: url("./img/fundo-batman.jpg");
  background-size: cover;
}

header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(65, 5, 5);
  width: 100%;
  margin: 0 0 70px 0;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: center;
}
#container-header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 70px;
}
#container-links {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navegacao-header {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.navegacao-header:hover {
  color: black;
}

/* corpo */

#corpo {
  font-family: monospace;
  margin: 70px auto 0 auto;
  padding: 10px 100px;
  width: 80%;
  background-color: rgb(0, 0, 0);
  text-align: center;
}
#first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
#title {
  font-size: 1.8em;
  margin: 15px;
}
.subtitles {
  line-height: 30px;
  margin-bottom: 20px;
  font-size: 1.8em;
}
p {
  text-align: left;
  padding-bottom: 20px;
}

#foto-ferfil {
  border-radius: 100%;
  width: 30%;
  margin: 20px;
  padding: 5px;
  background-color: rgb(65, 5, 5);
}
#resumo {
  width: 50%;
}
#second-section {
  display: flex;
  flex-flow: column;
}
#portfolio li {
  text-align: left;
  padding-bottom: 10px;
}
#tecnologies {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}
#tecnologies img {
  width: 10%;
}
/* rodapé */
footer {
  width: 100%;
  background-color: black;
  border-top: 2px solid rgb(65, 5, 5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer img {
  width: 40px;
  margin: 0 50px 20px;
}
